body {
    background-color:powderblue;
     }

hr {
    border-color: grey;
    border-width: 5px;
    border-style: none;
    border-top-style: dotted;
    width: 5%;
    }

h3 {
    color: darkcyan;
}

h1 {
    color: darkcyan;
}